<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jeopardy Game</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/answer_doc.css') }}">
  </head>
  <body>
    {% block content %}
    <button class="start_button" type="button">GO!</button>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h1>Question</h1>
          <p>{{ question }} </p>
        </div>
        <div class="flip-card-back">
          <h1>Answer</h1>
          <p>{{ answer }} </p>
        </div>
      </div>
    </div>
    <div>
      <a href="{{ url_for('jeopardy_form_post') }}"><button class="jeo_button" type="button">Back to Board</button></a>
    </div>
    {% endblock %}
  </body>
</html>
