<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jeopardy Game</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    {% block content %}
    <div class="container">
      <h1 class="logo">This Is</h1>
      <hr>
      <h2>Jeopardy!</h2>
    </div>
    <div class="buttons">
      <a href="{{ url_for('host_setup') }}"><button class="button" type="button">HOST</button></a>
      <a href="{{ url_for('player_setup') }}"><button class="button" type="button">PLAYER</button></a>
    </div>
    {% endblock %}
  </body>
</html>
