<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Host Setup</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    {% block content %}
    <h2>Choose Game Mode Settings</h2>
    <button class="button" type="button">Jeopardy</button>
    <div class="content_jeo">
      <form action="{{ url_for('host_setup') }}"  method= "post">
        <ul>
          <ul class="cat_row">
              <ul>
                <p>Catagory One     <input type = "text" name = "c1" /></p>
              </ul>
            <ul>
              <h3>Questions</h3>
              <ul>
                <p>$100 <input type = "text" name = "c1-1" /></p>
              </ul>
              <ul>
                <p>$200 <input type = "text" name = "c1-2" /></p>
              </ul>
              <ul>
                <p>$300 <input type = "text" name = "c1-3" /></p>
              </ul>
              <ul>
                <p>$400 <input type = "text" name = "c1-4" /></p>
              </ul>
              <ul>
                <p>$500 <input type = "text" name = "c1-5" /></p>
              </ul>
              <ul>
                <p>$600 <input type = "text" name = "c1-6" /></p>
              </ul>
            </ul>
            <ul>
              <h3>Answers</h3>
              <ul>
                <input type = "text" name = "nm" /></p>
              </ul>
              <ul>
                <input type = "text" name = "nm" /></p>
              </ul>
              <ul>
                <input type = "text" name = "nm" /></p>
              </ul>
              <ul>
                <input type = "text" name = "nm" /></p>
              </ul>
              <ul>
                <input type = "text" name = "nm" /></p>
              </ul>
              <ul>
                <input type = "text" name = "nm" /></p>
              </ul>
            </ul>
          </ul>
          <hr>
          <ul class="cat_row">
                <ul>
                  <p>Catagory Two     <input type = "text" name = "c1" /></p>
                </ul>
              <ul>
                <ul>
                  <p>$100 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$200 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$300 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$400 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$500 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$600 <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
              <ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
            </ul>
            <hr>
            <ul class="cat_row">
                <ul>
                  <p>Catagory Three <input type = "text" name = "c1" /></p>
                </ul>
              <ul>
                <ul>
                  <p>$100 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$200 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$300 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$400 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$500 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$600 <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
              <ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
            </ul>
            <hr>
            <ul class="cat_row">
                <ul>
                  <p>Catagory Four   <input type = "text" name = "c1" /></p>
                </ul>
              <ul>
                <ul>
                  <p>$100 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$200 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$300 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$400 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$500 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$600 <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
              <ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
            </ul>
            <hr>
            <ul class="cat_row">
                <ul>
                  <p>Catagory Five   <input type = "text" name = "c1" /></p>
                </ul>
              <ul>
                <ul>
                  <p>$100 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$200 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$300 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$400 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$500 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$600 <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
              <ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
            </ul>
            <hr>
            <ul class="cat_row">
                <ul>
                  <p>Catagory Six     <input type = "text" name = "c1" /></p>
                </ul>
              <ul>
                <ul>
                  <p>$100 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$200 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$300 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$400 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$500 <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <p>$600 <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
              <ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
                <ul>
                  <input type = "text" name = "nm" /></p>
                </ul>
              </ul>
            </ul>
          </ul>
        <p><input type = "submit" value = "Save" /></p>
      </form>
    </div>
    <button class="button" type="button">Double Jeopardy</button>
    <div class="content_djeo">
      <p>hello</p>
    </div>
    <button class="button" type="button">Final Jeopardy</button>
    <div class="content_fjeo">
      <p>hello</p>
    </div>
    <hr>
    <script>
        var coll = document.getElementsByClassName("button");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                }
                else {
                  content.style.display = "block";
                }
              });
            }
    </script>
    {% endblock %}

  </body>
</html>
