<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Host Setup</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    {% block content %}
    <h2>Choose Game Mode Settings</h2>
    <button class="button" type="button">Jeopardy</button>
    <button class="button" type="button">Double Jeopardy</button>
    <button class="button" type="button">Final Jeopardy</button>
    {% endblock %}
  </body>
</html>
