<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">

</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">This Is</h1>
        <hr>
        <img class="jeo_image" src="{{ url_for('static',   filename='images/jeopardy_logo.png') }}">
      </div>
    </header>

{% block content %}
{% endblock %}

 </body>
</html>
